/* CONTAINERS ETC */

html, body {
    margin:0;
    padding:0;
}

body {
    font-family: system-ui, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8rem;
}

/* main container */
#mainTree {
    background-color: white;
    margin: 1.0rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
}

/* TREE */

.tree li {
    display: block;
    position: relative;
    padding-left: 0px;
}

/* nesting level vertical line */
.tree ul:not(:first-child), .detailContainer {
    border-left: 1px solid #ddd;
    margin-left: 0.4rem;
    padding-left: 0.6rem;
}

/* SUMMARY ROW FOR EACH CODE ROW */

details > summary {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: pointer;

    /* chrome needs this, safari doesn't */
    list-style: none;
}

details > summary:hover {
    background-color: #eee;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    background-color: #00CCFF;
}

details > summary.errorParent::before {
    background-color: #FF3333;
}

/* icon from: https://github.com/twbs/icons/blob/main/icons/caret-right-square-fill.svg */
details > summary::before {
    position: absolute;
    left:0;
    top:4px;

    /* chrome seems to need the '-webkit' prefix here */
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16"><path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/></svg>');
    width: 1rem;
    height: 1rem;
    display: inline-block;
    content: '';
}

details[open] > summary::before {
    transform: rotate(90deg);
    transform-origin: 8px 8px; 
}

.summaryDiv {
    /* aligns code line correctly with the icon */
    display: flex;
    margin-left: 1.2rem;
}

.summaryDiv > .label {
    order: 2;
    margin-right: auto;
}

.summaryDiv > .summaryName {
    order: 1;
}

.summaryDiv > .summaryInput {
    order: 3;
}

.detailContainer {
    display: flex;
}

.detailContainer > .detailInfo {
    margin-right: auto;
}

.summaryDiv > .summaryInput, .detailContainer > .detailInputs {
    width: 50vw;
}

/* LABEL IS THE PASS/ERROR BADGE */

.label {
    margin-left: 0.5rem;
}

.label.F,
.label.E,
.label.FAIL,
.label.ERROR {
    color: #FF3333;
}

.label.PASS,
.label.I,
.label.INFO {
    color: #00CCFF;
}

.label.W,
.label.WARN {
    color: orange;
}

.label.NOT_RUN {
    color: #999;
}
  
/* HIDDEN SECTIONS (IGNORE THESE FOR NOW) */

/*summary.HIDDEN {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgreen;
}

.label.HIDDEN {
    border-radius: 3px;
    background-color: var(--hidden-background-color);
    color: var(--hidden-color);
    font-weight: bolder;
}

.label.HIDDEN.inline {
    margin-left: 5px;
}*/