/* CONTAINERS ETC */

/* box model reset */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {  

    --log-color-error: #FF3333;
    --log-color-success: #00CCFF;
    --log-color-warn: #ff6666;
    --log-color-disabled: #999999;
    --log-color-border: #dddddd;

    --right-column-width: 50vw;

    font-family: system-ui, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display: flex;
    flex-direction: column;
    padding: 1.0rem;
    font-size: 0.8rem;
}


ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
}

#mainTree {
    white-space: nowrap;
    overflow: auto;
    flex-grow: 1;
}

/* TREE */

.tree li {
    display: block;
    position: relative;
    padding-left: 0px;
}

/* nesting level vertical line */
.tree ul:not(:first-child), .detailContainer {
    border-left: 1px solid var(--log-color-border);

    /* centering the line with the icon */
    margin-left: 0.65rem;

    /* nesting indentation */
    padding-left: 0.8rem;
}

/* SUMMARY ROW FOR EACH CODE ROW */

details > summary {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    cursor: pointer;

    /* chrome needs this, safari doesn't */
    list-style: none;
}

details > summary:hover {
    background-color: #f3f3f3;
    border-radius: 2px;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    background-color: var(--log-color-success);
}

details > summary.errorParent::before {
    background-color: var(--log-color-error);
}

/* icon from: https://github.com/twbs/icons/blob/main/icons/caret-right-square-fill.svg */
details > summary::before {
    position: absolute;
    left:0.25rem;
    top:4px;

    /* chrome seems to need the '-webkit' prefix here */
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16"><path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/></svg>');
    width: 1rem;
    height: 1rem;
    display: inline-block;
    content: '';
    transform-origin: 8px 8px;
    transform: rotate(0deg);
    transition: transform 0.3s ease-out !important;
}

details[open] > summary::before {
    transform: rotate(90deg);
}

.summaryDiv {
    /* aligns code line correctly with the icon */
    display: flex;
    margin-left: 1.2rem;
}

.summaryDiv > .label {
    order: 2;
}

.summaryDiv > .summaryName {
    order: 1;
    margin-left: 0.25rem;
}

summary.errorParent .summaryName {
    font-weight: bold;
}

.summaryDiv > .summaryInput {
    order: 3;
    margin-left: auto;
}

.detailContainer {
    display: flex;
}

.detailContainer > .detailInfo {
    margin-right: auto;
}

.summaryDiv > .summaryInput, .detailContainer > .detailInputs {
    width: var(--right-column-width);
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width : 860px) {
    .summaryDiv > .summaryInput, .detailContainer > .detailInputs, .headerInputs {
        display: none;
    }
}

/* HEADERS */

.headers {
    display: flex;
    border-bottom: 1px solid var(--log-color-border);
    padding-bottom: 1.0rem;
    margin-bottom: 1.0rem;
}

.headerSource, .headerInputs {
    font-weight:bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.headerInputs {
    margin-left: auto;
    width: var(--right-column-width);
}

.headerRunDetails {
    margin:0;
    margin-bottom: 1.5rem;
}

h3 {
    margin:0;
    padding:0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

h3 .label {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
    height: auto;
    margin-left: 0.5rem;
}

/* LABEL IS THE PASS/ERROR BADGE */

.label {
    display: inline-block;
    margin-left: 0.35rem;
    color: white;
    font-weight: 600;
    font-size: 0.60rem;
    border-radius: 2px;
    padding: 0px 5px;
    height: 1rem;
    line-height: 1rem;
}

.label.F,
.label.E,
.label.FAIL,
.label.ERROR {
    background-color: var(--log-color-error);
}

.label.PASS,
.label.I,
.label.INFO {
    /* hide labels when everything was successful */
    display:none;
}

.label.W,
.label.WARN {
    background-color: var(--log-color-warn);
}

.label.NOT_RUN {
    background-color: var(--log-color-disabled);
}